@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b9a7de;
    --secondary-color: #a999d0;
    --auxiliar-color: #D5A6DE;
    --button-color: #BDBCFA;
    --button-hover: #7377BF;
    --light-color: #FFF9F1;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 800;
}

button {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
}

.header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    justify-items: center;
} 

.header-container img {
    width: 75px;
    height: 75px;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-header .navbar-search {
    width: 350px;
    height: 45px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    background: var(--primary-color);
    padding-left: 40px;
    font-size: 20px;
    color: var(--button-hover);
    font-family: inherit;
    letter-spacing: 2px;
}

.navbar-header button {
    width: 45px;
    height: 45px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: var(--auxiliar-color);
    color: var(--light-color);
    font-weight: 500;
}



.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}